$red: #FF4651;
$green: #48EA8B;

.item{
  width: 50vw;
  padding: 5px;
  form{
    display: flex;
    flex-direction: column;
    mat-form-field{
      width: 100%;
      margin-top: 5px;
    }
    h2{
      font-weight: 500;
      margin: 0px;
    }
    .flex{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 0px 0px 0px;
    }
    .grid{
      margin-top: 15px;
      display: grid;
      grid-template-columns: 100px 100px;
      column-gap: 10px;
      row-gap: 10px;
      .item{
        display: flex;
        cursor: pointer;
        width: max-content;
        border-radius: 4px;
        margin: 5px;
        padding: 6px 15px 6px 15px;
        box-shadow: 1px 1px 4px 2px rgb(0, 0, 0,0.3);
        text-align: center;
        h4{
          margin: 0px;
        }
      }
    }
  }

  .next{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
