<div class="item" style="overflow-y: scroll; overflow-x: hidden;">
  <form [formGroup]="item">
    <h2>Item</h2>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput  formControlName="id" placeholder="Id" readonly>
        <mat-hint>read only</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="title" placeholder="Item name" required>
        <mat-hint>ex: Pizza</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Img Url</mat-label>
        <input matInput  formControlName="img" placeholder="please enter url only" required>
        <mat-hint>ex: https://..........</mat-hint>
      </mat-form-field>

      <div class="flex">
        <mat-form-field>
          <mat-label>Prize</mat-label>
          <input matInput formControlName="prize" type="number" placeholder="Item name" required>
          <mat-hint>ex: 1000</mat-hint>
        </mat-form-field>
        <mat-slide-toggle formControlName="half">Half</mat-slide-toggle>
        <mat-slide-toggle formControlName="hide" style="margin-left: 10px;">Hide</mat-slide-toggle>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Select Item Type</mat-label>
        <mat-select formControlName="veg" required>
          <mat-option value="veg">VEG</mat-option>
          <mat-option value="non-veg">NON-VEG</mat-option>
        </mat-select>
        <mat-hint>select according to the Item</mat-hint>
      </mat-form-field>

      <h4 style="margin: 10px 0px 0px 0px;">Addons</h4>
      <mat-divider></mat-divider>

      <div class="grid">
        <div matRipple *ngFor="let item of addons" class="item" (click)="openaddons(item)">
          <h4>{{item.title}}</h4>
        </div>
        <div matRipple  class="item" (click)="createaddon()">
          <mat-icon style="margin-left: -8px; margin-right: 2px;">add</mat-icon>
          <h4> Add</h4>
        </div>
      </div>

      <mat-form-field style="width: 100%; margin-top: 15px;">
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-list #chipList >
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(tag)">
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Tags..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

  </form>

  <div class="next">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>

</div>
