.item{
  width: 50vw;
  form{
    display: flex;
    flex-direction: column;
    mat-form-field{
      width: 100%;
      margin-top: 5px;
    }
    h2{
      font-weight: 500;
      margin: 0px;
    }

  }

  .next{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
