<div class="item" style="overflow-y: scroll; overflow-x: hidden;">
  <form [formGroup]="table">
    <h2>Item</h2>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput  formControlName="id" placeholder="Id" readonly>
        <mat-hint>read only</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Item name" required>
        <mat-hint>If Occupied</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select Payments</mat-label>
        <mat-select formControlName="payments" required>
          <mat-option value="pending">PAYMENTS PENDING</mat-option>
          <mat-option value="done">PAYMENTS DONE</mat-option>
          <mat-option value="nopayments">NOT YET</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select ISACTIVE</mat-label>
        <mat-select formControlName="active" required>
          <mat-option value="active">ACTIVE</mat-option>
          <mat-option value="inactive">IN ACTVE</mat-option>
          <mat-option value="reserved">RESERVED</mat-option>
        </mat-select>
      </mat-form-field>

  </form>


  <div class="orders">

    <h2>Orders</h2>

    <table mat-table [dataSource]="orders" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="isfull">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element">{{element.isfull}}</td>
      </ng-container>


      <ng-container matColumnDef="prize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prize </th>
        <td mat-cell *matCellDef="let element">{{element.prize}}</td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Count </th>
        <td mat-cell *matCellDef="let element">{{element.count}}</td>
      </ng-container>


      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let element">{{element.total}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;"></tr>
    </table>

  </div>

  <div class="next">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">save</button>
  </div>



</div>
