.step{
  display: flex;
  form {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  form::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
  }
  form{
    overflow: scroll;
    height: 60vh;
    width: auto;
    display: flex;
    flex-direction: column;
    mat-form-field{
      width: 100%;
      margin-top: 5px;
    }

    h4{
      margin: 20px 0px 0px 5px;
    }

    .grid{
      margin-top: 15px;
      display: grid;
      grid-template-columns: auto auto;
      .item{
        margin: 8px;
        display: flex;
        cursor: pointer;
        width: max-content;
        border-radius: 4px;
        padding: 6px 15px 6px 15px;
        box-shadow: 1px 1px 6px 3px rgb(0, 0, 0,0.3);
        text-align: center;
        h4{
          margin: 0px;
        }
      }
    }

    .next{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .close{
    position: relative;
    height: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
  }

}
