<div class="step">
  <mat-horizontal-stepper linear #stepper style="width: 50vw;">
    <mat-step [stepControl]="hotel" [editable]="true">
      <form [formGroup]="hotel">
        <ng-template matStepLabel>Hotel Details</ng-template>
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput #hotelid formControlName="id" placeholder="Id">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="title" placeholder="hotel name" required #hotelvalue (keyup)="!isedit?onkey(hotelid,hotelvalue,hotelurl):nothing()">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Url</mat-label>
            <input matInput #hotelurl formControlName="url" placeholder="Url">
          </mat-form-field>

          <div class="next">
            <button mat-raised-button color="primary" (click)="next(stepper)">Next</button>
          </div>

      </form>
    </mat-step>
    <mat-step [editable]="true">
      <form >
        <ng-template matStepLabel>Categories</ng-template>

        <div class="grid">
          <div matRipple *ngFor="let item of menudata" class="item" (click)="openmenu(stepper,item)">
            <h4>{{item['title']}}</h4>
          </div>

          <div matRipple  class="item" (click)="createmenu(stepper)">
            <mat-icon style="margin-left: -8px; margin-right: 2px;">add</mat-icon>
            <h4> Add</h4>
          </div>
        </div>

      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Details</ng-template>

      <form [formGroup]="menu">
        <ng-template matStepLabel>Menu</ng-template>
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput #menuid formControlName="id" placeholder="Id" readonly>
            <mat-hint>read only</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="title" placeholder="Menu name" required>
            <mat-hint>ex: Pizza</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Img Url</mat-label>
            <input matInput  formControlName="img" placeholder="please enter url only" required>
            <mat-hint>ex: https://..........</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Select Menu Type</mat-label>
            <mat-select formControlName="veg" required>
              <mat-option value="veg">VEG</mat-option>
              <mat-option value="non-veg">NON-VEG</mat-option>
              <mat-option value="mixed">MIXED</mat-option>
            </mat-select>
            <mat-hint>select according to the Menu</mat-hint>
          </mat-form-field>


          <h4>Menu</h4>
          <mat-divider></mat-divider>

          <div class="grid">
            <div matRipple *ngFor="let item of itemdata" class="item" (click)="openitem(stepper,item)">
              <h4>{{item['title']}}</h4>
            </div>
            <div matRipple  class="item" (click)="createitem()">
              <mat-icon style="margin-left: -8px; margin-right: 2px;">add</mat-icon>
              <h4> Add</h4>
            </div>
          </div>

          <div class="next">
            <button mat-raised-button color="primary" (click)="save(stepper)">Save</button>
          </div>

      </form>

    </mat-step>
  </mat-horizontal-stepper>

  <div class="close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
