<div class="item" style="overflow-y: scroll; overflow-x: hidden;">
  <form [formGroup]="table">
    <h2>Item</h2>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput  formControlName="id" placeholder="Id" readonly>
        <mat-hint>read only</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Item name" required>
        <mat-hint>If Occupied</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select Payments</mat-label>
        <mat-select formControlName="payments" required>
          <mat-option value="pending">PAYMENTS PENDING</mat-option>
          <mat-option value="done">PAYMENTS DONE</mat-option>
          <mat-option value="nopayments">NOT YET</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select ISACTIVE</mat-label>
        <mat-select formControlName="active" required>
          <mat-option value="active">ACTIVE</mat-option>
          <mat-option value="inactive">IN ACTVE</mat-option>
          <mat-option value="reserved">RESERVED</mat-option>
        </mat-select>
      </mat-form-field>


  </form>

  <div class="next">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Create</button>
  </div>

</div>
