<div class="login" id="login">
  <div class="form">
      <mat-card>
          <mat-card-title style="color: rgb(13, 78, 255);">Olio Admin</mat-card-title>
          <mat-card-content>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" [(ngModel)]="email">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Admin</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>password</mat-label>
              <input matInput placeholder="pass" type="password" [(ngModel)]="pass">
              <mat-icon matSuffix>fingerprint</mat-icon>
            </mat-form-field>


          </mat-card-content>
          <button mat-raised-button id="login" color="primary" (click)="login()">Login</button>
      </mat-card>
      <mat-progress-bar *ngIf="loading" mode="indeterminate" ></mat-progress-bar>
  </div>
</div>
