.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .form{
      width: 30%;
      text-align: center;
      box-shadow: 5px 5px 25px 2px rgb(0,0,0,0.3);
      mat-form-field{
          margin-top: 10px;
          width: 100%;
      }
      button{
          margin-top: -10px;
          align-self: center;
          justify-self: center;
      }
  }
}
