table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.content{

  display: flex;
  justify-content: space-around;
  .menu{
    width: 50vw;
    padding: 20px;
    .header{
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      h3{
        margin: 0px;
      }
      mat-icon{

        margin-right: 10px;
      }

    }
    table{
      margin-top: 15px;
    }
    .header:focus{
      outline: none;
    }
  }

  .category{
    padding: 10px;
    width: 35vw;
    .form{
      background-color: white;
      box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.3);
      padding: 20px;
      form{
        display: flex;
        flex-direction: column;
        mat-form-field{
          width: 100%;
          margin-top: 5px;
        }

        h4{
          margin: 20px 0px 0px 5px;
        }

      }
    .next{
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    }

  }
}

