<div class="content">

  <div class="menu">
    <div matRipple class="header" [routerLink]="['../']" >
      <mat-icon >arrow_back</mat-icon>
      <h3> Menu</h3>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>


      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="prize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prize </th>
        <td mat-cell *matCellDef="let element"> {{element.prize}} </td>
      </ng-container>

      <ng-container matColumnDef="hide">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hide </th>
        <td mat-cell *matCellDef="let element" (click)="hide(element.id)" style="cursor: pointer;">
          <ng-container *ngIf="element.hide; else elseTemplate">
            <mat-icon>visibility_off</mat-icon>
          </ng-container>
          <ng-template #elseTemplate>
            <mat-icon>visibility</mat-icon>
          </ng-template>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openitem(row)" style="cursor: pointer;"></tr>
    </table>

  </div>

  <div class="category">
    <div matRipple class="header">
      <h3>Category</h3>
    </div>

    <div class="form">
      <form [formGroup]="menu">
        <ng-template matStepLabel>Menu</ng-template>
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput  formControlName="id" placeholder="Id" readonly>
            <mat-hint>read only</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="title" placeholder="Menu name" required>
            <mat-hint>ex: Pizza</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Img Url</mat-label>
            <input matInput  formControlName="img" placeholder="please enter url only" required>
            <mat-hint>ex: https://..........</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-top: 15px;">
            <mat-label>Select Menu Type</mat-label>
            <mat-select formControlName="veg" required>
              <mat-option value="veg">VEG</mat-option>
              <mat-option value="non-veg">NON-VEG</mat-option>
              <mat-option value="mixed">MIXED</mat-option>
            </mat-select>
            <mat-hint>select according to the Menu</mat-hint>
          </mat-form-field>
      </form>
      <div class="next">
        <button mat-raised-button color="warn" [routerLink]="['../']">Back</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>
    </div>

  </div>

</div>
