<div class="hotels">

  <div class="header">
      <h3>Hotels</h3>
      <button class="create" mat-raised-button (click)="open('','')"> <mat-icon>business</mat-icon>  create</button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>


    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categories </th>
      <td mat-cell *matCellDef="let element"> {{element.categories}} </td>
    </ng-container>

    <ng-container matColumnDef="tables">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tables </th>
      <td mat-cell *matCellDef="let element"> {{element.tables}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell  *matCellDef="let element" (click)="open(element.id,element.title)"><a mat-stroked-button>EDIT</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="['../moniter',row.id]"  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
