table {
  width: 100%;
  tr{
    cursor: pointer;
  }
}

th.mat-sort-header-sorted {
  color: black;
}
.hotels{
  padding: 20px;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      margin: 0px;
    }
    .create{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      mat-icon{
        font-size: 19px; margin-left: -8px;
      }
    }
  }
  table{
    margin-top: 15px;
  }
}

