<div class="grid">
  <div  *ngFor="let item of items" class="item" [routerLink]="['./menu']" (click) = "open(item)">
    <div class="item_image">
        <img  src="{{item.img}}" />
    </div>
    <div class="item_content" matRipple>
        <div class="main_content">
            <h3>{{item.title}}</h3>
            <div class="veg">{{item.veg}}</div>
        </div>
        <div class="side_content">
            <h4>Items</h4>
            <p>{{item.items}}</p>
        </div>
    </div>
  </div>

</div>
