.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  .item{
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgba(77, 74, 74, 0.137);
    background-color: #fff;
    width: 20vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .item_image{
        img{
            width: 20vw;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
    }
    .item_content{
        display: flex;
        padding: 10px 10px 0px 10px;
        justify-content: space-between;
        .main_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            .veg{
                background-color: rgb(235, 74, 34);
                font-size: 11px;
                color: white;
                margin-top: -10px;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 3px;
                align-self: start;
            }

        }
        .side_content{
            display: flex;
            flex-direction: column;
            p{
                margin-top: -10px;
                font-weight: 600;
                font-size: 20px;
                color: rgb(24, 218, 121);
                align-self: flex-end;
            }
        }
    }
  }

}
