<div class="item">
  <form [formGroup]="addon">
    <h2>Add-on</h2>
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput  formControlName="id" placeholder="Id" readonly>
        <mat-hint>read only</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="title" placeholder="Item name" required>
        <mat-hint>ex: Pizza</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Img Url</mat-label>
        <input matInput  formControlName="img" placeholder="please enter url only" required>
        <mat-hint>ex: https://..........</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prize</mat-label>
        <input matInput formControlName="prize" type="number" placeholder="Item name" required>
        <mat-hint>ex: 1000</mat-hint>
      </mat-form-field>
  </form>

  <div class="next">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>

</div>
