$red: #FF4651;
$green: #48EA8B;

.item{
  width: 30vw;
  form{
    display: flex;
    flex-direction: column;
    mat-form-field{
      width: 100%;
      margin-top: 5px;
    }
    h2{
      font-weight: 500;
      margin: 0px;
    }
    .flex{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 0px 0px 0px;
    }

  }

  .next{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
