table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.hotels{
  padding: 20px;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      margin: 0px;
    }
    .create{
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      mat-icon{
        font-size: 19px; margin-left: -8px;
      }
    }
  }
  table{
    margin-top: 15px;

    .box{
      border-radius: 5px;
      box-shadow: 1px 1px 2px 1px rgb(0, 0, 0,0.3);
      text-align: center;
      width: max-content;
      padding: 5px 10px 3px 10px;
      p{
        margin: 0px;
        color: white;
      }
    }
    .red{
      background-color: #f44336;
    }
    .green{
      background-color: #4caf50;
    }
    .orange{
      background-color: #ff9800;
    }
  }
}


.content{
  padding: 20px;
}
