<div class="hotels">

  <div class="header">
      <h3>Tables</h3>
      <button class="create" mat-raised-button (click)="create()">create table</button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="payments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Payments </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.payments=='done'; else elseTemplate">
          <div class="box green"><p>Done</p></div>
        </ng-container>
        <ng-template #elseTemplate>
          <ng-container *ngIf="element.payments=='nopayments'; else elseTemplate">
            <div class="box red"><p>No Payments</p></div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="box orange"><p>Waiting</p></div>
          </ng-template>

        </ng-template>

      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.active=='active'; else elseTemplate">
          <div class="box green"><p>Active</p></div>
        </ng-container>
        <ng-template #elseTemplate>
          <ng-container *ngIf="element.active=='inactive'; else elseTemplate">
            <div class="box red"><p>Inactive</p></div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="box orange"><p>Reserbed</p></div>
          </ng-template>

        </ng-template>

      </td>
    </ng-container>

    <ng-container matColumnDef="orderitems">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Items </th>
      <td mat-cell *matCellDef="let element">
         <div class="box" style="background-color: #3f51b5; border-radius: 50%;"><p>{{element.orderitems}}</p></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell  *matCellDef="let element"><a mat-stroked-button>CLEAR</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" (click)="opentable(row.id)"></tr>
  </table>


</div>


<div class="content">
  <h3>Categories</h3>

  <router-outlet></router-outlet>

</div>
